body {
  background-color: salmon;
}

h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
}

nav {
  text-align: center;
  padding: 25px;
}

:link, :visited {
  border-radius: 20%;
  background-color: lightgoldenrodyellow;
  padding: 10px;
  color: black;
  font-size: 20px;
}

#table {
  margin: 0 auto;
}

td {
  font-size: 16px;
  padding: 5px;
  border: 2px solid black;
}
