body {
  background-color: #E5DDD7;
  font-family: 'Inter', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
}

aside {
  margin-left: 40px;
  position: fixed;
  float: left;
  width: 200px;
  font-size: 30px;
  line-height: 1.5;
  color: maroon;
  background-color: bisque;
  font-family: 'Lora', serif;
  text-align: center;
  border-radius: 15%;
}

p {
  font-size: 18px;
  padding-top: 10px;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 26px;
  padding: 15px;
  color: #431E1D;
}

h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  padding: 20px;
  color:#F9636E;
  text-shadow: 2px 2px 1px #431E1D;
}

nav {
  text-align: center;
  padding: 25px;
  margin-top: 20px;
}

:link, :visited {
  border-radius: 25%;
  background-color: #FFFEFE;
  padding: 12px;
  color: #431E1D;
  font-size: 20px;
  box-shadow: 1px 1px 3px #431E1D;
  margin: 15px;
}

#table {
  margin: 0 auto;
}

td {
  color: #431E1D;
  font-size: 16px;
  padding: 5px;
  border: 2px solid #431E1D;
  font-family: 'Inter', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  background-color: bisque;
}

tfoot {
  font-weight: bolder;
}

main {
  text-align: center;
  margin: 0 auto;
  font-family: 'Lora', serif;
  color: maroon;
}